@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500|Noto+Sans:400,700|Noto+Serif&display=swap');

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
}
h2 {
    font-size: 27px;
    font-family: 'Noto Serif', serif;
}
h3 {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}
p {
    font-family: 'Noto Sans', sans-serif;
}

button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
h4 {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

.btn-outline {
    border-width: 2px;
}

input {
    border-width: 2px !important;  
}
.btn-primary {
    background-color: $blue-600;
}