.btn-link {
    padding-left: 0;
    padding-right: 0;
    font-weight: $font-weight-bold;
    border: 0;
}

.background-image {
    background-image: url('/style/background-landing.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;

}

//enter info to create acc on landing page is hidden initially
#creating-acc {
    display: none;
}


//#textcountright, #textcountleft {
    //display: none;
//} 

#sort, #searchbox {
    width: 200px;
    height: 32px;
}

textarea {
    resize: none;
    color: white;
    outline: none;
}

.text-brand {
    font-family: $font-family-brand;
}

.tab-seperator {
    border-left: 1px $gray-800 solid;
}