.btn-link {
    padding-left: 0;
    padding-right: 0;
    font-weight: $font-weight-bold;
    border: 0;
}

.background-image {
    background-image: url('/style/background-landing.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.card-width {
    width: 300px !important;
}