$gray-050: #e5e6e8;
$gray-100: #cccdd2;
$gray-200: #b4b4bb;
$gray-300: #999aa4;
$gray-400: #80818d;
$gray-500: #666877;
$gray-600: #52535f;
$gray-700: #3d3e47;
$gray-800: #292a30;
$gray-900: #141518;

$blue-050: #dae8f4;
$blue-100: #bfccf5;
$blue-200: #97adf1;
$blue-300: #7693ec;
$blue-400: #587be7;
$blue-500: #4366d3;
$blue-600: #2f52b9;
$blue-700: #1c3688;
$blue-800: #0c205a;
$blue-900: #010b2d;

$red-050: #f6dce2;
$red-100: #ecb8c5;
$red-200: #e38ea3;
$red-300: #da6a84;
$red-400: #cb4666;
$red-500: #c13958;
$red-600: #a42443;
$red-700: #770d26;
$red-800: #500416;
$red-900: #290505;


$spacer: 1rem; // 16px in most browsers
$spacers: ();
$spacers: map-merge(
  (
    0: 0, // 0px
    1: ($spacer * .25), // 4px
    2: ($spacer * .5), // 8px
    3: ($spacer * .75), // 12px
    4: $spacer, // 16px
    5: ($spacer * 1.5), // 24px
    6: ($spacer * 2), // 32px
    7: ($spacer * 3), // 48px
    8: ($spacer * 4), // 64px
    9: ($spacer * 8) // 128px
  ),
  $spacers
);

$input-btn-padding-y:         map-get($map: $spacers, $key: 2);
$input-btn-padding-x:         map-get($map: $spacers, $key: 4);
$input-btn-padding-y-sm:      map-get($map: $spacers, $key: 1);
$input-btn-padding-x-sm:      map-get($map: $spacers, $key: 4);
$input-btn-padding-y-lg:      map-get($map: $spacers, $key: 2);
$input-btn-padding-x-lg:      map-get($map: $spacers, $key: 6);
$input-btn-border-width:      2px;

$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-padding-y-sm:            $input-btn-padding-y-sm;
$btn-padding-x-sm:            $input-btn-padding-x-sm;
$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;
$btn-border-width:            $input-btn-border-width;

$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-padding-y-sm:                    $input-btn-padding-y-sm;
$input-padding-x-sm:                    $input-btn-padding-x-sm;
$input-padding-y-lg:                    $input-btn-padding-y-lg;
$input-padding-x-lg:                    $input-btn-padding-x-lg;
$input-border-width:                    $input-btn-border-width;

$h1-font-size:                60px;
$h2-font-size:                27px;
$h3-font-size:                20px;
$h4-font-size:                20px;

$font-weight-bold: 700px;
$font-weight-normal: 400px;

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Noto Serif", serif; 
$font-family-brand: "Fira Sans";
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case


$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $gray-600,
    "secondary":  $secondary,
    "success":    $blue-600,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$link-color:                              theme-color("primary");
$link-decoration:                         none ;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   underline;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;



$component-active-color: $white;
$component-active-bg: theme-color("primary");
$custom-control-indicator-checked-color: $component-active-color;
$custom-control-indicator-checked-bg: $component-active-bg;